
<html>
<head>
    <title>skills - <%= result[0].skill_id %></title>
</head>
<body>
<h1>skills</h1>
<ul>
    <li>skill ID: <%= result[0].skill_id%></li>
    <li>skill name: <%= result[0].skill_name %></li>
    <li>description: <%= result[0].description %></li>
</ul>
</body>

</html>